*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{ 
    text-decoration: none;
}
body{
    background-color: #ddd;
}
    header{
        background: url(./images/background.jpg) no-repeat;
        background-size: cover;
        color: white;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
   
      h1{
        text-align: center;
       
      }
      h2{
       
        text-align: center;
      }
    
    .prix{
        float: right;
        margin-right: 20px;
    }
    .sidenav {
        height: auto;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;
        background-color: #e8e8e8;
        text-align: start;
        transition: left 0.5s ease;
        margin-top: 10px;
        border: solid 2px grey;
      }
      
      .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      /* Sidenav menu links */
      .sidenav a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: white;
        width: 100%;
      }
      
      /* Active class */
      .sidenav.active {
        left: 0;
      }
      
      /* Close btn */
      .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
      }
      #openBtn{
        position: absolute;
        right: 0;
        top: 0;
      }
     
      .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px;
      }
      button{
        background-color: rgb(47, 196, 47);
        text-decoration: none;
        opacity: 0.8;
      }
      .resultat{
        position: absolute;
        margin-bottom: 50px;
        margin-left: 60px;
      }
      .peugeot {
        border-bottom: 2px solid grey;
        display: flex;
        padding-bottom: 50px;
      }
      .ford {
        border-bottom: 2px solid grey;
        display: flex;
        padding-bottom: 50px;
      }
      .audi {
        border-bottom: 2px solid grey;
        display: flex;
        padding-bottom: 50px;
      }
      .opel {
      border-bottom: 2px solid grey;
        display: flex;
        padding-bottom: 50px;
      }
      footer{
        display: flex;
        margin: auto;
        margin-top: 30px;
      }
      ul{
        list-style-type: none;
      }


      .agence{
        width: 10%;
        height: auto;
      }
